{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Account create</h2>
{% endblock %}
{% block main %}
<div class="create">
   <form method="POST">
    {% csrf_token %}
    {{form|crispy}}
     <input type="submit" value="Create">
   </form>
</div>
{% endblock %}