{% extends 'base.html' %}
{% block title %}
    <h2>Delete student {{student.first_name}} {{student.last_name}}</h2>
{% endblock %}
{% block main %}
<div class="delete">
   <form method="POST">
       {% csrf_token %}
     <input type="submit" value="Delete">
       <a class="cancel_button" href="{% url 'students:list' %}">Cancel</a>
   </form>
</div>
{% endblock %}