{% extends 'base.html' %}
{% block title %}
    <h2>Student create</h2>
{% endblock %}
{% block main %}
<div class="create">
   <form method="POST">
   {% csrf_token %}
    {{form.as_p}}
     <input type="submit" value="Create">
   </form>
</div>
{% endblock %}