 <table class="table table-striped table-hover">
      <tr>
        <th>№</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Group name</th>
        <th>Phone number</th>
        <th>Age</th>
        <th>Head of the group</th>
        <th>&#9998;</th>
        <th>🗑</th>
      </tr>

        {% for student in students %}

              <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.group.name }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.headed_group }}</td>
                <td><a href='{% url "students:update" student.id %}'>UPDATE</a></td>
                <td><a href='{% url "students:delete" student.id %}'>DELETE</a></td>
              </tr>

        {% endfor %}

    </table>