{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>All courses</h2>
{% endblock %}
{% block main %}
<form action="" method="GET">
    {{filter.form|crispy}}
    <input type="submit" value="Search">
</form>
{% for course in filter.qs%}
    {{course.name}} <a href="{% url 'courses:update' course.id %}">EDIT</a> <a href="{% url 'courses:delete' course.id %}">DELETE</a><br>
{% endfor %}
{% endblock %}