{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h1>Delete Course?</h1>
{% endblock %}
{% block main %}
    Do you really want to delete {{course.name}}?
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
        <a href="{% url 'courses:list' %}">Cancel</a>
    </form>
{% endblock %}