    <table class="table table-striped table-hover">
          <tr>
            <th>№</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Birthday date</th>
            <th>&#9998;</th>
            <th>🗑</th>
          </tr>

        {% for teacher in teachers %}

              <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.birth_date }}</td>
                <td><a href='{% url "teachers:update" teacher.id %}'>UPDATE</a></td>
                <td><a href='{% url "teachers:delete" teacher.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}

    </table>